.App {
  padding: 4rem;
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  color: white;
}
